.container{
    padding: 50px;
    display: flex;
}

.left{
    flex: 2;
}

.right{
    flex: 1;
}

.table{
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
}

.row{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.done{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inProgress{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: inProgress 1s ease infinite alternate;
}



@keyframes inProgress{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.undone{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}


.inProgress .checkedIcon,
.undone .checkedIcon {
    display: none;
}

.wrapper{
    width: 80%;
    max-height: 350px;
    background-color: rgb(44, 43, 43);
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

.totalTextTitle{
    margin-right: 10px;
}

.button{
    margin-top: 20px;
    border: none;
    background-color: white;
    color: teal;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: not-allowed;
}